body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #d9d9d9;
}

.home {
    color: black;
    font-family: montserrat, sans-serif;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}

.home h1 {
    font-weight: bold;
    font-size: 50px;
}

.home h2 {
    font-size: 20px;
    font-weight: 600;
}

.selectsContainer {
    margin-top: 80px;
}

.selectsContainer select {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin: 10px;
    padding: 8px;
    border-radius: 4px;
}

.selectsContainer option {
    font-family: "Montserrat", sans-serif;
}

.searchButton {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    width: 10%;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.searchButton a {
    text-decoration: none;
    color: white;
}
